<p>
	É necessário que você confirme o cadastro da empresa <%= @empresa.nome %> antes da mesma poder acessar o site da CORE. Você pode fazê-lo clicando <a href="127.0.0.1:3000/ativar/<%= @empresa.senha_ativacao %>">aqui</a> ou colando esse link no seu navegador: <a href="127.0.0.1:3000/ativar/<%= @empresa.senha_ativacao %>">127.0.0.1:3000/ativar/<%=@empresa.senha_ativacao%></a>
</p>

<p>
	Obs: é necessário que você esteja logad@ como admin.
</p>