<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>

<% if !session[:usuario_id].nil? %>
	<a class="btn btn-danger" href="/logout">logout</a>
<% end %>
<% if !session[:admin_id].nil? %>
	<a class="btn btn-danger" href="/logout3">logout</a>
<% end %>
<% if !session[:empresa_id].nil? %>
	<a class="btn btn-danger" href="/logout2">logout</a>
<% end %>