<h1>Olá, <%= @aluno.nome %></h1>

<p>
	A Empresa <%= @empresa.nome %> acaba de cadastrar uma nova vaga para estagiário para o curso de <%= @curso.nome %>. Você pode visualizar a vaga clicando <a href="http://127.0.0.1:3000/vagas/<%= @vaga.id %>">aqui</a>.
</p>